$input-color: #e5e9fa;

.form-section {
  margin-top: 109px;
  margin-bottom: 55px;
}

.form-control {
  background-color: $input-color;
  color: $secondary-color;
  border: transparent;
  &:focus {
    color: $secondary-color;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.form-group {
  label {
    color: $secondary-color;
  }
}

typeahead-container {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  top: -2px !important;
  border: none !important;
}
