$graph-container-background: #fefefe;

.graph {
  background-color: $graph-container-background;
  padding: 15px 40px;
  padding-bottom: 25px;
  border-radius: 15px;
  margin: 10px auto;
  @media (max-width: 580px) {
    padding: 10px;
  }
}

.graph-title {
  margin-bottom: 30px;
}
