<section class="container form-section">
  <form autocomplete="off">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="estadoSelect">Selecione o estado</label>
          <input
            #inputEstado
            [(ngModel)]="estado"
            name="estado"
            [typeaheadMinLength]="0"
            [typeahead]="estados"
            typeaheadOptionField="nome"
            class="form-control"
            [typeaheadItemTemplate]="estadoTemplate"
            (typeaheadOnSelect)="onSelectEstado($event)"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="cidadeInput">Cidade</label>
          <input
            #inputCidade
            [(ngModel)]="cidade"
            [disabled]="disabledInputCidade"
            name="cidade"
            [typeaheadMinLength]="0"
            [typeahead]="cidades"
            typeaheadOptionField="nome"
            class="form-control"
            [typeaheadItemTemplate]="cidadeTemplate"
            (typeaheadOnSelect)="onSelectCidade($event)"
          />
        </div>
      </div>
    </div>
  </form>
</section>
<section class="container section-graph">
  <div *ngIf="barChartLabels.length">
    <app-graph
      [chartData]="chartDataValor"
      [barChartLabels]="barChartLabels"
    ></app-graph>
    <app-graph
      [chartData]="chartDataValor"
      [barChartLabels]="barChartLabels"
    ></app-graph>
    <!-- <div class="graph" [ngStyle]="{ width: dymWidth }">
      <label class="graph-title">Grafico de Valores</label>
      <div style="display: block">
        <canvas
          baseChart
          [colors]="lineChartColors"
          [datasets]="chartDataValor"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        >
        </canvas>
      </div>
    </div> -->
  </div>
  <app-loading *ngIf="loading"></app-loading>
</section>
<ng-template #estadoTemplate let-model="item" let-index="index">
  <div [style.width.px]="inputRef.nativeElement.clientWidth - 48">
    {{ model.nome + "-" + model.sigla }}
  </div>
</ng-template>
<ng-template #cidadeTemplate let-model="item" let-index="index">
  <div [style.width.px]="inputRef.nativeElement.clientWidth - 48">
    {{ model.nome }}
  </div>
</ng-template>
